.element-invisible, .element-focusable, #navigation .block-menu .block__title, #navigation .block-menu-block .block__title {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}
#page,
.region-bottom {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Apply the shared properties of grid items in a single, efficient ruleset. */
header,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    line-height: 1.5em;
}

/* Containers for grid items and flow items. */
header:before, header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
    content: "";
    display: table;
}

header:after,
#main:after,
#footer:after {
    clear: both;
}

/* The name of the website. */
header .header__site-name {
    margin: 0;
    font-size: 2em;
    line-height: 1.125em;
}

/* The link around the name of the website. */
header .header__site-link:link, .header__site-link:visited {
    color: #000;
    text-decoration: none;
}
header .header__site-link:hover, .header__site-link:focus {
    text-decoration: underline;
}

/* The slogan (or tagline) of a website. */
header .header__site-slogan {
    margin: 0;
}

/* The secondary menu (login, etc.) */
header .header__secondary-menu {
    float: right;
    /* LTR */
}

/**
 * Navigation bar.
 */
header #navigation {
    /* Sometimes you want to prevent overlapping with main div. */
    /* overflow: hidden; */
    /* Main menu and secondary menu links and menu block links. */
}
header #navigation .block {
    margin-bottom: 0;
}
header #navigation .links,
header #navigation .menu {
    margin: 0;
    padding: 0;
    text-align: left;
    /* LTR */
}
header #navigation .links li,
header #navigation .menu li {
    /* A simple method to get navigation links to appear in one line. */
    float: left;
    /* LTR */
    padding: 0 10px 0 0;
    /* LTR */
    list-style-type: none;
    list-style-image: none;
}


.header {
    background-color: #323031;
    height: 72px;
}
@media screen and (max-width: 1024px) {
    .header {
        height: 77px;
    }
}

#header {
    padding: 0;
}

.header__wrapper {
    position: relative;
    margin: 0 auto;
    width: 1024px;
}
@media screen and (max-width: 1024px) {
    .header__wrapper {
        width: 100%;
        padding: 0 10px;
    }
}
@media screen and (max-width: 1034px) {
    .header__wrapper {
        padding: 0 10px;
    }
}
@media screen and (max-width: 1024px) {
    .header__wrapper {
        width: 100%;
    }
}

.header__logo--primary-nav {
    position: relative;
    float: left;
    clear: both;
    margin-top: 2px;
}
@media screen and (max-width: 1024px) {
    .header__logo--primary-nav {
        position: static;
    }
}

#page .header .header__logo {
    padding: 8px 0 0 0;
}
.header__logo {
    float: left;
    margin: 0;
    padding: 10px 0 0 0;
}
@media screen and (max-width: 1024px) {
    .header__logo {
        padding-top: 14px;
    }
}

.header__logo-image {
    height: auto;
    width: 175px;
}

.header__region .block {
    margin: 0;
}
.header__region .block-menu > ul {
    margin: 0;
    padding: 0;
}
.header__region .block-menu > ul a:hover {
    text-decoration: none;
}
.header__region .block-menu > ul > li:hover a {
    color: #40B4E5;
}
.header__region .block-menu > ul > li:hover ul a {
    color: #fff;
}
.header__region .block-menu > ul > li:hover:after {
    position: absolute;
    top: 24px;
    left: 23px;
    display: inline-block;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #58595b;
    border-left: 12px solid transparent;
    content: '';
}
.header__region .block-menu > ul > li.leaf:hover:before {
    display: none;
}
.header__region .block-menu > ul > li {
    display: inline;
    position: relative;
    line-height: 1em;
}
.header__region .block-menu > ul > li a {
    padding-bottom: 18px;
}
.header__region .block-menu > ul > li a.active-trail, .header__region .block-menu > ul > li a.active {
    color: #40B4E5;
}
.header__region .block-menu > ul > li:hover > ul {
    display: block;
}
.header__region .block-menu > ul > li ul {
    background-color: #58595b;
}
.header__region .block-menu > ul > li > ul {
    display: none;
    top: 36px;
    left: -8px;
    padding: 0;
    position: absolute;
    width: 204px;
    z-index: 8888;
}
.header__region .block-menu > ul > li > ul a {
    line-height: 1.5em;
    padding-bottom: 0;
}
.header__region .block-menu > ul > li > ul li:hover {
    background-color: #00cbf0;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF00CBF0', endColorstr='#FF00A1E6');
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwY2JmMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwYTFlNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00cbf0), color-stop(100%, #00a1e6));
    background-image: -moz-linear-gradient(top, #00cbf0 0%, #00a1e6 100%);
    background-image: -webkit-linear-gradient(top, #00cbf0 0%, #00a1e6 100%);
    background-image: linear-gradient(to bottom, #00cbf0 0%, #00a1e6 100%);
}
.header__region .block-menu > ul > li > ul .is-expanded a:after {
    position: absolute;
    top: 17px;
    right: 20px;
    display: inline-block;
    border-top: 6px solid transparent;
    border-left: 6px solid #fff;
    border-bottom: 6px solid transparent;
    content: '';
}
.header__region .block-menu > ul > li > ul .is-expanded ul a:after {
    border: none;
}
.header__region .block-menu > ul > li > ul > li {
    border-bottom: 1px solid #5f5f64;
    list-style: none;
    padding: 0;
    position: relative;
}
.header__region .block-menu > ul > li > ul > li:last-child {
    border: none;
}
.header__region .block-menu > ul > li > ul > li a {
    font-family: "ubuntulight", Arial, sans-serif;
    margin: 0;
    padding: 13px 11px;
    display: block;
}
.header__region .block-menu > ul > li > ul > li > a {
    padding-left: 11px;
}
.header__region .block-menu > ul > li > ul > li ul {
    display: none;
    transition: all 100ms ease-out;
}
.header__region .block-menu > ul > li > ul > li.is-expanded:hover > ul {
    display: block;
    padding: 0;
    position: absolute;
    left: 204px;
    width: 204px;
    top: 0;
}
.header__region .block-menu > ul > li > ul > li.is-expanded:hover > ul li {
    border-bottom: 1px solid #5f5f64;
    padding: 0;
    list-style: none;
}
.header__region .block-menu > ul > li > ul > li.is-expanded:hover > ul li:last-child {
    border: none;
}
.header__region .block-menu > ul > li > ul > li.is-expanded:hover > ul li a {
    margin-left: 0;
    color: #fff;
}
.header__region .block-menu > ul > li > ul > li.is-expanded:hover > ul li a:hover {
    color: #fff;
}
.header__region .block-menu a {
    color: #fff;
    font-family: "ubuntubold", Arial, sans-serif;
    font-size: 17px;
    margin-right: 20px;
    text-decoration: none;
}
.header__region .block-menu a:hover {
    color: #DDD;
}

@-moz-document url-prefix() {
    .header__region .block-menu > ul > li {
        line-height: inherit !important;
    }
}
.header__region .block-menu > ul > li:first-child > ul > li {
    padding-left: 25px;
}
.header__region .block-menu > ul > li:first-child > ul > li:first-child {
    padding-left: 11px;
}

header .arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #333132;
    position: absolute;
    top: 12px;
    left: 30px;
}

.header__region {
    float: right;
}

@media screen and (max-width: 585px) {
    #block-menu-menu-contact-phone-number {
        display: none;
    }
}
#block-menu-menu-contact-phone-number li:last-child:hover {
    cursor: default;
}
#block-menu-menu-contact-phone-number li:last-child a {
    color: #40B4E5;
}
#block-menu-menu-contact-phone-number li:last-child a:hover {
    cursor: default;
    text-decoration: none;
}

@media screen and (max-width: 585px) {
    #block-menu-menu-header-top-menu {
        display: none;
    }
}
#block-menu-menu-header-top-menu ul {
    padding-left: 10px;
}
#block-menu-menu-header-top-menu li {
    margin-left: 10px;
}
#block-menu-menu-header-top-menu li:first-child {
    margin-left: 0;
}

.header__top-wrapper a {
    color: #fff;
    font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
    font-size: 12px;
    text-decoration: none;
}
.header__top-wrapper a:hover {
    text-decoration: underline;
}
.header__top-wrapper a.active {
    color: #fff;
    text-decoration: none;
}
.header__top-wrapper nav {
    padding-top: 6px;
}
.header__top-wrapper li:last-child {
    padding-right: 0;
}

header nav {
    margin-right: 95px;
}
@media screen and (max-width: 450px) {
    header nav {
        display: none;
    }
}
header nav ul li {
    padding: 0 0 0 10px;
}
header nav ul li:first-child {
    padding-left: 0;
}

.region-header-top .block-title {
    display: none;
}
.region-header-top ul {
    margin: 4px 0 0 0;
}
.region-header-top li {
    display: inline-block;
    list-style: none;
}
.header__nav-wrapper .block-menu {
    margin-bottom: 0;
}
.header__nav-wrapper .block-menu,
.header__nav-wrapper .block-lang-dropdown {
    display: inline-block;
}

.region-header-top {
    float: right;
    text-align: right;
}
.region-header-top #block-search-form {
    position: relative;
    top: 5px;
    float: right;
    right: 0;
}
#block-search-form .form-item.form-type-searchfield {
    display: none;
    padding: 0;
    width: 165px;
}
.region-header-top .block-search .form-type-searchfield input {
    padding: 3px 10px 3px 10px;
    width: 165px;
}

@media screen and (min-width: 1024px) and (max-width: 1024px) {
    header .block-search {
        padding: 0 0.5em;
    }
}
header .block-search form {
    position: relative;
}
header .block-search .form-type-searchfield {
    color: #fff;
    margin: 0;
    padding: 2px 0 4px 0;
}
header .block-search .form-type-searchfield input {
    background-color: #65646a;
    border: none;
    box-shadow: none;
    border-right: 30px solid #77BC1F;
    color: #fff;
    font-size: 10px;
    font-family: Arial, Verdana;
    font-weight: bold;
    padding: 7px 10px 7px 10px;
    width: 120px;
}
header .block-search .form-type-searchfield input::-webkit-input-placeholder {
    color: #99999a;
    text-transform: uppercase;
}
header .block-search .form-type-searchfield input:-moz-placeholder {
    color: #99999a;
    text-transform: uppercase;
}
header .block-search .form-type-searchfield input::-moz-placeholder {
    color: #99999a;
    text-transform: uppercase;
}
header .block-search .form-type-searchfield input:-ms-input-placeholder {
    color: #99999a;
    text-transform: uppercase;
}
header .block-search .form-actions input {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    padding: 0;
    text-indent: -9999px;
    height: 27px;
    width: 30px;
}
header .block-search .search-icon {
    font-size: 14px;
    position: absolute;
    width: 15px;
    color: #fff;
    cursor: pointer;
    z-index: 999;
}


#page .header {
    height: 72px;
}
#page .header #block-block-1 {
    margin-bottom: 1em;
}
#page .header .header__logo {
    padding: 8px 0 0 0;
}
.header__top-wrapper a {
    font-family: openSans;
}
#page .header,
#page .footer {
    background-color: #323031;
}
.region-header-top{
    padding:0;
}

.header #block-system-main-menu,
.header #block-search-form{
    margin-top: 15px;
}

.header #block-block-1{
    width: auto;
    margin-left: 35px;
    float: right;
}

a.green-button {
    display: block;
    background: #77BC1F;
    color: #fff;
    width: 226px;
    min-height: 32px;
    text-align: center;
    padding: 6px 0;
}

a.green-button:hover {
    color: #fff;
    background: #009444;
    text-decoration: none;
}

.header #block-block-1 a.green-button{
    margin-right: 95px;
    margin-top: 20px;
    width: 100px;

}

.header #block-block-1 .mulecom{
    position: absolute;
    display: block;
    background-color: black;
    text-align: center;
    padding: 10px 7px 0px 7px;
    top: 0px;
    right: 0;
}

.header #block-block-1 .mulecom a{
    color: #00a1e1;
    margin: 0;
    text-decoration: none;
}

.header #block-block-1 .mulecom:hover,
.header #block-block-1 .mulecom:hover > a{
    background: #00a1e1;
    color: white;
}

@media screen and (max-width: 1024px) {
    .page-home .hero-banner-slides .hero-banner-row img {
        margin-left: -400px;
    }
    .region-header-top {
        display: none;
    }
}


.header #block-system-main-menu{
    margin-top: 20px;
}
.header #block-search-form{
    margin: 17px 0 0 20px;
}
#block-system-main-menu .menu {
    padding: 0 0 0 20px;
}

header #block-system-main-menu .menu__item a{
    font-family:"DinPro", "openSans", arial, helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    padding-bottom: 10px;
    margin-right: 20px;
    border-bottom: 3px solid transparent;
    height: 38px;
}

header #block-system-main-menu .menu__item a:hover,
header #block-system-main-menu .menu__item a.active{
    border-bottom: 3px solid #00a1e1;
    color: white;
}

.header__top-wrapper .region-header-top .mulecom a{
    padding-bottom: 0;
    font-size: 11px;
}


.header__top-wrapper .region-header-top a.green-button{
    font-family: "openSans", arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 34px;
    padding-bottom: 0;
}

header .region-header-top {
    width: 820px;
}

header #block-system-main-menu .menu > li > a.active, .header__region .block-menu > .menu > li > a.active-trail{
    color: white;
}
header #block-system-main-menu .menu > li > a:hover, .header__region .block-menu > ul > li:hover > a{
    color: white !important;
}
.not-front #block-system-main-menu .menu > li > a:not(.active):not(.active-trail){
    color: #99999A;
}

header .icon-muletheme-search2:before {
    display: none;
}

header #block-search-form .form-item.form-type-searchfield {
    display: none;
    padding: 0;
    width: 165px;
}

header .block-search .search-icon {
    height: 20px;
    width: 22px;
    top: 3px;
    right: 3px;
    background: url(https://developer.mulesoft.com/sites/default/files/white_search_icon.svg) no-repeat;
    background-position: -5px -5px;
    background-size: 150%;
}
header .tcat-logo-text {
    display: none;
}

.footer {
    background-color: #323031;
}
.footer__top .block-menu > ul {
    margin: 25px 0 60px;
}
.footer__top .block-menu > ul > li {
    vertical-align: sub;
    width: auto;
    margin-right: 11%;
}

.footer__top .block-menu > ul > li > a {
    color: #ffffff;
    font-size: 15px;
    font-weight: normal;
}
.footer__top .block-menu {
    float: left;
    width: 47%;
    margin-left: 0;
    margin-right: 0;
}

.footer__top .connect-footer {
    width: 295px;
    float: right;
}

.footer-bottom-wrapper .terms-conditions {
    width: auto;
}
.footer {
    background-color: #323031;
    padding: 40px 10px 80px;
}
@media screen and (max-width: 64em) {
    .footer {
        padding: 40px 10px;
    }
}

.footer__wrapper {
    margin: 0 auto;
    width: 1024px;
}
@media screen and (max-width: 64em) {
    .footer__wrapper {
        width: 100%;
        padding: 0 10px;
    }
}
.footer__wrapper:before, .footer__wrapper:after {
    content: "";
    display: table;
}
.footer__wrapper:after {
    clear: both;
}
@media screen and (max-width: 64em) {
    .footer__wrapper {
        width: auto;
        margin: 0 10px;
    }
}

@media screen and (max-width: 64em) {
    .footer__top {
        display: none;
    }
}
.footer__top .block-menu .block-title {
    display: none;
}
.footer__top .block-menu a {
    font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
    color: #fff;
    font-size: 11px;
    text-decoration: none;
}
.footer__top .block-menu a:hover {
    color: #DDD;
}
.footer__top .block-menu li {
    list-style: none;
    line-height: 1.3;
}
.footer__top .block-menu > ul {
    margin: 20px 0 60px;
    padding: 0;
}
.footer__top .block-menu > ul > li {
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin-right: 2%;
}
.footer__top .block-menu > ul > li.last {
    margin-right: 0;
}
.footer__top .block-menu > ul > li > a {
    color: #40B4E5;
    font-size: 13px;
    font-weight: bold;
}
.footer__top .block-menu > ul > li > ul {
    margin: 5px 0 0;
    padding: 0;
}
.footer__top .block-menu > ul > li > ul > li > ul {
    padding-left: 0;
}
.footer .header__logo {
    clear: left;
    float: left;
    margin-right: 35px;
    width: 178px;
    padding-top: 5px;
}
@media screen and (max-width: 64em) {
    .footer .header__logo {
        clear: both;
        display: block;
        float: none;
        padding: 0;
    }
}
.footer .header__logo img {
    height: 72px;
    width: 178px;
}

.footer-bottom-wrapper {
    clear: both;
}
@media screen and (max-width: 64em) {
    .footer-bottom-wrapper {
        clear: both;
        width: 100%;
    }
}
.footer-bottom-wrapper #footer {
    padding: 0;
}
.footer-bottom-wrapper .copyright {
    color: #40B4E5;
}

#block-menu-menu-footer-bottom-menu {
    margin-bottom: 0.25em;
}
#block-menu-menu-footer-bottom-menu ul {
    margin: 0;
    padding: 0;
}
#block-menu-menu-footer-bottom-menu a {
    font-family: "ubuntubold", Arial, sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
@media screen and (max-width: 37.5em) {
    #block-menu-menu-footer-bottom-menu a {
        font-size: 12px;
    }
}
#block-menu-menu-footer-bottom-menu a:hover {
    color: #DDD;
}
#block-menu-menu-footer-bottom-menu li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
@media screen and (max-width: 37.5em) {
    #block-menu-menu-footer-bottom-menu li {
        margin-right: 15px;
    }
}
#block-menu-menu-footer-bottom-menu li:last-child {
    margin-right: 0;
}
#block-menu-menu-footer-bottom-menu li:last-child a {
    color: #40B4E5;
}
.footer__top .block-menu > ul > li > a {
    color: #ffffff;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
}
.footer__top .block-menu > ul > li.menu__item > a {
    font-family: "DinPro", "openSans", arial, helvetica, sans-serif;
    font-size: 15px;
}
.connect-footer h2 {
    margin: 0;
    font-weight: normal;
    color: #fff !important;
    padding: 0 10px 15px;
    font-size: 18px;
}
.connect-footer p {
    color: #fff !important;
    font-size: 17px;
    margin: 17px 0 8px;
    padding: 0 10px;
}
.connect-footer .mktoFormRow .mktoGutter,
.connect-footer .mktoFormRow label {
    display: none;
}
.connect-footer .mktoForm {
    position: relative;
    padding-top: 0 !important;
}
.connect-footer .mktoForm .mktoFormRow .mktoFieldWrap input {
    border: none;
    background: #FFF;
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
    width: 150px !important;
    font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
    box-shadow: none;
    font-weight: 700;
}
.connect-footer .mktoForm .mktoButtonRow {
    position: absolute;
    top: 0;
    left: 160px;
}
.connect-footer .mktoForm .mktoButtonRow .mktoButtonWrap.mktoInset {
    margin-left: 0 !important;
}
.connect-footer .mktoForm .mktoButtonRow .mktoButtonWrap.mktoInset button.mktoButton {
    border-radius: 0px;
    background: #77BC1F;
    text-shadow: none;
    border: 0;
    box-shadow: none;
    height: 30px;
    width: auto;
    padding: 0 6px;
    line-height: 30px;
    font-family: "openSans", arial, Helvetica, sans-serif;
}
.connect-footer .mktoForm .mktoButtonRow .mktoButtonWrap.mktoInset button.mktoButton:hover {
    background: #6AA93C;
}
.connect-footer a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    height: 30px;
}
.connect-footer submit {
    background: #77BC1F;
    color: #fff;
    padding: 0.5em;
    width: 10%;
}
.connect-footer ul {
    padding: 0;
    margin: 10px 0 0 10px;
}
.connect-footer ul li {
    list-style: none;
    display: inline-block;
    margin-right: 1em;
}
.connect-footer ul li a {
    font-size: 30px;
    color: #40B4E5;
}
.connect-footer ul li a:hover {
    color: #006892;
}
.connect-footer ul li a.icon-muletheme-email {
    font-size: 33px;
}
.footer__top .connect-footer {
    width: 295px;
    float: right;
}
.connect-footer {
    background: #57565b;
    color: #DDD;
    font-size: 14px;
    padding: 15px;
    margin-bottom: 60px;
    width: 329px;
    float: left;
}
.terms-conditions {
    color: #fff;
    font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif;
    font-size: 11px;
    line-height: 18px;
    margin-right: 44px;
    width: 433px;
    float: left;
}
.terms-conditions a:hover {
    text-decoration: none;
}
.footer-bottom-wrapper .terms-conditions {
    width: auto;
}
a.icon-muletheme-linkedin {
    background: url(https://developer.mulesoft.com//sites/default/files/linkedIn-01.svg) no-repeat;
    width: 30px;
}
a.icon-muletheme-linkedin:hover {
    background: url(https://developer.mulesoft.com//sites/default/files/linkedIn_white-01.svg) no-repeat;
}
a.icon-muletheme-twitter {
    background: url(https://developer.mulesoft.com//sites/default/files/twitter-01.svg) no-repeat;
    width: 30px;
    background-size: 110%;
}
a.icon-muletheme-twitter:hover {
    background: url(https://developer.mulesoft.com//sites/default/files/twitter_white-01.svg) no-repeat;
    background-size: 110%;
}
a.icon-muletheme-facebook {
    background: url(https://developer.mulesoft.com//sites/default/files/facebook-01.svg) no-repeat;
    width: 30px;
}
a.icon-muletheme-facebook:hover {
    background: url(https://developer.mulesoft.com//sites/default/files/facebook_white-01.svg) no-repeat;
}
a.icon-muletheme-email {
    background: url(https://developer.mulesoft.com//sites/default/files/email_social-01.svg) no-repeat;
    width: 30px;
}
a.icon-muletheme-email:hover {
    background: url(https://developer.mulesoft.com//sites/default/files/email_social_white-01.svg) no-repeat;
}
a.icon-muletheme-youtube {
    background: url(https://developer.mulesoft.com//sites/default/files/youtube-01.svg) no-repeat;
    width: 40px;
}
a.icon-muletheme-youtube:hover {
    background: url(https://developer.mulesoft.com//sites/default/files/youtube_white-01.svg) no-repeat;
}


/*******************************/
/*******************************/
/*******************************/
/* CUSTOM STYLES FOR DOCS SITE */
/*_____________________________*/
/*_____________________________*/
/*_____________________________*/


.mulecom a{
  font-weight: bold;
}
.page-champions .champions-billboard-banner .field-banner-slides-title{
  text-align: center;
}
.page-home .learn-more .do-more {
  min-height: 580px;
}

.view-id-msc_view_events .views-row{
    margin-bottom: 25px;
}

.view-id-msc_view_events .field-event-city,
.view-id-msc_view_events .field-event-date {
    display: inline-block;
    color: #323031;
}

.view-id-msc_view_events .field-event-city:after{
    content:",";
    margin-left: -3px;
}

/* Footer style, move to custom-styles.css */
.footer__top .block-menu > ul > li{
   vertical-align: top;
   margin-right: 4%;
}

.footer__top .block-menu > ul > li a{
   font-size: 13px;
   line-height: 20px;
   font-family: "openSans", arial, helvetica, sans-serif;
}

.footer__top .block-menu > ul > li.menu__item > a{
    font-family: "DinPro", "openSans", arial, helvetica, sans-serif;
    font-size: 15px;
}
/* Remove this after push */
.page-champions .champions-prizes-row .field-casestudy-billboard-image img{
   bottom: 0;
}

.connect-footer h2 {
   background:0px;
   margin-top: 4px;
}
@media screen and (max-width: 64em) {
    .panels-flexible-row.panels-white-row > .inside,
    .panels-flexible-row.panels-grey-row > .inside,
    .panels-flexible-row.panels-blue-row > .inside {
            padding: 53px 20px;

    }

     .hero-banner-slides .hero-banner-row img {
      position: absolute;
    }

    .page-home .learn-more .do-more,
    .secondary-content .social-feed {
      padding: 0 0 0 1em;
    }
    .page-home .hero-banner-slides .hero-banner-row img {
      margin-left: -1000px;
    }
    .inside.panels-flexible-row-inside.panels-flexible-row-1-4-inside.clearfix {
            padding: 53px 20px;
    }
       .mule-champion.panels-blue-row{
               text-align: center;
      }

    .mule-champion.panels-blue-row,
    .mule-champion.panels-blue-row > .inside > .panels-flexible-region{
        height: auto;
        min-height: 134px;
    }

    .mule-champion.panels-blue-row .field-main-content-image,
    .mule-champion.panels-blue-row .field-main-content-text,
    .mule-champion.panels-blue-row .field-main-content-links,
    .mule-champion.panels-blue-row .field-main-content-links a{
        float: none;
        margin: 0 auto;
    }
    .mule-champion.panels-blue-row.panels-flexible-row .field-main-content-text{
         width: auto;
    }
    .mule-champion.panels-blue-row.panels-flexible-row .field-main-content-text p{
        width: auto;
        margin: 10px auto;
    }
}
@media screen and (max-width: 60em) {
    .hero-banner-slides .field-banner-slides-subheading {
    width: 50%;
    }
}
@media screen and (max-width: 700px) {
    .hero-banner-slides .field-banner-slides-subheading {
        width: 100%;
    }
    .hero-banner-slides .hero-banner-row img {
        display: none;
    }
    .hero-banner-row.slick-slide {
        background: #222;
    }
}
@media screen and (max-width: 500px) {
    #main .panels-flexible-1 .panels-flexible-region-inside-last,
  #main .panels-flexible-1 .panels-flexible-region-inside-first,
  #main .panels-flexible-1 .panels-flexible-region-inside {
     padding: 0 0;
  }
    .hero-banner-slides .field-banner-slides-subheading {
       width: 100%;
    }
    .panels-flexible-column.blog-feed,
    .panels-flexible-column.social-feed {
         width: 100%;
     }
    .secondary-content .social-feed,
    .page-home .learn-more .do-more{
        border: none;
        padding-left: 0;
    }
}
